.fz40 {
  font-weight: 700;
  font-size: 4rem;
  line-height: calc(24/40);
}

.fz30 {
  font-weight: 600;
  font-size: 30px;
}


.fz24 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: calc(35/24);
}

.fz20 {
  font-weight: 400;
  font-size: 2rem;
  line-height: calc(23/20);
}

.fz18 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: calc(24/18);
}

.fz16 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: calc(18/16);
  color: $text-color;
}

.fz14 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: calc(18/14);
  &-fw600 {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: calc(18/14);
  }
}

.fz12 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: calc(18/12);
}

.fz10 {
  font-weight: 700;
  font-size: 1rem;
  line-height: calc(18/10);
}

