.footer {
  background-color: $footer-background-color;
  &__container {
    padding: 60px;
  }
  &__pages {
    margin-left: 129px;
    a {
      padding: 3px 0;
    }
  }
  &__networks {
    a {
      padding: 3px 0
    }
  }
  &__icon {
    width: 26px
  }
  &__body {
    flex: 1
  }
  &__form {
    margin-top: 22px;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    input {
      border: 1px solid $primary-color;
      padding: 0 0 0 20px;
      height: inherit;
      flex: 1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    button {
      width: 60px;
      height: inherit;
      background-color: $primary-color;
      color: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__info {
    p {
      padding: 3px 0
    }
  }
}

@media screen and (max-width: 1279.98px) {
  .footer {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__pages {
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .footer {
    .container {
      width: auto
    }
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__body {
      gap: 0 40px;
    }
    &__pages {
      margin-left: 40px;
    }
    &__form {
      width: 200px;
      input {
        max-width: 150px;
      }
    } 
  }
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

@media screen and (max-width: 575.98px) {
  .footer__container {
    padding: 30px 0;
    align-items: flex-start;
  }
  .footer__body {
    flex-direction: column;
    gap: 20px 0
  }
  .footer__pages {
    margin: 0
  }
} 

