.footer {
  background-color: $footer-background-color;
  &__container {
    padding: 60px;
  }
  &__pages {
    margin-left: 129px;
    a {
      padding: 3px 0;
    }
  }
  &__networks {
    a {
      padding: 3px 0
    }
  }
  &__icon {
    width: 26px
  }
  &__body {
    flex: 1
  }
  &__form {
    margin-top: 22px;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    input {
      border: 1px solid $primary-color;
      padding: 0 0 0 20px;
      height: inherit;
      flex: 1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    button {
      width: 60px;
      height: inherit;
      background-color: $primary-color;
      color: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__info {
    p {
      padding: 3px 0
    }
  }
}