.main {
  padding: 64px 0 128px;
  &__info {
    text-align: center;
    h1 {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 460px;
        height: 1px;
        background-color: #000;
        top: 50%;
        right: 0;
      }
      &::before {
        content: "";
        position: absolute;
        width: 460px;
        height: 1px;
        background-color: #000;
        top: 50%;
        left: 0;
      }
    }
    p {
      padding: 0 170px;
      padding-top: 32px;
    }
  }
  &__product {
    padding: 60px 50px 0 50px
    
  }
  
}


