.slider {
  height: 1166px;
  background-color: $primary-color;
  &__container {
    flex: 1
  }
  &__item {
    flex: none;
    width: 100%;
    &-wrap {
      width: 100% ;
      height: 100%;
      position: relative;
      flex: none;
    }
  }
  &__logo {
    flex: 1;
    img {
      transform: rotate(0.31deg)
    }
  }
  &__modal {
    position: absolute;
    width: 666px;
    height: 907px;
    left: 50%;
    transform:translateX(-50%);
    top: 54px;
  }
  &__bottom {
    color: #fff;
    text-align: center;
    margin-bottom: 37px;
    p {
      margin-bottom: 10px;
    }
  }
  .slick-track {
    height: 100%
  }
  .slick-dots {
    position: absolute;
    bottom: 64px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 16px;
        height: 16px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        border-radius: 50%;
        border: 2px solid #fff
      }
    }
    .slick-active {
      button {
        background-color: #fff
      }
    }
  }
}

@media screen and (max-width: 1279.98px) {
  .slider__logo {
    div {
      width: 90%;
      img {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 1023.98px) {
  .slider {
    height: 980px
  }
  
  .slider__modal {
    height: 700px;
    width: calc(700px * 0.734);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;  
    }
  }
}

@media screen and (max-width: 767.98px) {
  .slider .slick-dots {
    bottom: 20px;
  }
  .slider {
    height: 620px
  }
  .slider__modal {
    height: 400px;
    width: calc(400px * 0.734);
  }
}

