@import 'reset';
@import 'variable';
@import 'global';
@import 'alike';
@import 'header';
@import 'footer';

.cart {
  margin-top: 134px;
  &__heading {
    margin-bottom: 78px;
  }
  table {
    thead {
      th:first-child {
        width: 50%
      }
    }
  }
}