@import 'reset';
@import 'variable';
@import 'global';
@import 'alike';
@import 'header';
@import 'footer';

.cart {
  margin-top: 134px;
  &__heading {
    margin-bottom: 78px;
  }
  table {
    width: 100%;
    thead {
      padding-bottom: 16px;
      th:first-child {
        width: 50%;
        text-align: left;
      }
    }
  }
}