@import 'reset';
@import 'variable';
@import 'global';
@import 'alike';
@import 'header';
@import 'footer';

.user {
  margin-top: 134px;
  &__container {
    margin: 0 64px;
  }
  &__item:first-child {
    padding: 32px 0;
    text-align: center;
  }
}