@import 'reset';
@import 'variable';
@import 'global';
@import 'alike';
@import 'header';
@import 'footer';

.user {
  margin-top: 134px;
  &__container {
    margin: 0 64px;
  }
  &__list {
    height: 884px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  }
  &__item:first-child {
    padding: 32px 0;
    text-align: center;
  }
  &__item:not(:first-child,:last-child) {
    padding: 16px 0 16px 32px 
  }
  &__item:last-child {
    flex: 1;
    padding-bottom: 64px;
  }
}